{
    log {
        output stdout
        format console
    }
}

tile.esya.ru {
    header {
        Server esya-web-engine
        -Via
    }

    reverse_proxy tile_esya_ru:80 {
        header_down Cache-Control "max-age=5184000, public"
    }

	encode zstd br gzip
    file_server
#
#    @404-410 `{err.status_code} in [404, 410]`
#    handle @404-410 {
#        respond "It's a 404 or 410 error!"
#    }
#
#    @5xx `{err.status_code} >= 500 && {err.status_code} < 600`
#    handle @5xx {
#        respond "It's a 5xx error."
#    }
#
#    handle {
#        respond "It's another error"
#    }
}


http://bigapi.ru, https://bigapi.ru {
    header {
        Server esya-web-engine
        -Via
    }

    reverse_proxy new_bigapi_ru:80 {
#        header_down Cache-Control "max-age=5184000, public"
    }

	encode zstd br gzip
    file_server
}

velogeek.ru {
    header {
        Server esya-web-engine
        -Via
    }

    reverse_proxy new_velogeek_ru:80 {
#        header_down Cache-Control "max-age=5184000, public"
    }

	encode zstd br gzip
    file_server
}

gamsh.ru {
    header {
        Server esya-web-engine
        -Via
    }

    reverse_proxy new_gamsh_ru:80 {
#        header_down Cache-Control "max-age=5184000, public"
    }

	encode zstd br gzip
    file_server
}
